:root{
 --backgroundColor : #007fb4;
 --cityImage : url(./resources/Clear.svg);
}


#background-div{
    background-color: var(--backgroundColor);
    height: 100vh;
    width: 100vw;
    position: absolute;
    margin: 0;

}
body{
    padding: 0;
    margin: 0;
    overflow: hidden;
}
#city-type{
    height: 100%;
    max-width: 100%;
    border: 1px solid red;
    margin: 0;
    object-fit: cover;
    background-image: url(./resources/Clear.svg);
    background-size: contain;
    background-repeat: no-repeat;
    
}


